:root {
  --primary-color: #232323;
  --secondary-color: #d9d9d9;
}

html,
body {
  height: 100%;
  padding: 0;
}

body.home {
  background-color: #07a27e;
  display: flex-start;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

body.sobre {
  background-color: #2780c4;
  display: flex-start;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

body.projects {
  background-color: #bdbdbd;
  display: flex-start;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

h1,
h4 {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
}

h1 {
  border-bottom: 1px solid #232323;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -10px;
  font-size: 30px;
  text-transform: uppercase;
}

h2 {
  font-family: "IBM Plex Serif", serif;
  margin-top: 10px;
}

h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  margin-top: 30px;
}

h4 {
  font-size: 18px;
}

p {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}

footer {
  border-top: 1px solid #232323;
  padding-top: 30px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

a.highlight {
  font-family: "IBM Plex Serif", serif;
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.home-main {
  height: 400px;
}

.logo-home {
  padding: 10px, 10px, 10px, 0;
}

.logo {
  margin-left: -30px;
  text-transform: uppercase;
}

.redes-sociais {
  font-family: "IBM Plex Serif", serif;
  margin-top: 30px;
}

.redes-sociais-home {
  font-family: "IBM Plex Serif", serif;
  display: flex;
  gap: 10px;
}

.project-image {
  margin-top: 30px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 21px;
  }
  .logo {
    margin-left: -24px;
  }

  .home-main {
    height: 300px;
  }

  .project-image {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
}
